.node {
    /*border:1px solid #346789;*/
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width: 120px;
    height: 80px;
    line-height: 80px;
    text-align:center;
    z-index:20;
    position:absolute;
    color: #000000;
    padding:0.5em;
    font-size:1em;
    cursor: pointer;
}
.node-start {
    background-image: url('../img/start.png');
    background-position: center;
}
.endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }